---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Servicio de Rentas Internas (SRI) - Chat Assitant">
  <main class="container mx-auto py-6 min-h-screen max-w-screen-sm grid grid-rows-[5rem_auto_3rem] gap-4">
    <div>
      <h1 class="text-3xl font-bold text-gray-100 text-center grid place-content-center">Asistente Servicio de Rentas Internas</h1>
      <h3 class="text-xs text-gray-400 text-center italic">Consulta todo lo que quieras saber sobre el SRI</h3>
    </div>
    <div id="chat" class="w-full scroll-smooth gap-8 max-w-2xl overflow-hidden space-y-4 overflow-y-scroll h-[75vh]"></div>
    <form id="input-form" class="flex">
      <input
        type="text"
        id="input"
        autofocus
        class="text-sm disabled:cursor-not-allowed bg-gray-800 rounded-lg block w-full p-2.5 placeholder-gray-400 text-white ring-0 focus-within:right-0 outline-none focus:ring-transparent focus:border-transparent"
        placeholder="Escribe tu pregunta"
        required
      />
      <div class="w-9 justify-center items-center hidden" id="loader">
        <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
      </div>
    </form>
  </main>

  <script is:inline type="module">
    import("/src/client/sendMessage.js").then(({ handleSendMessage }) => {
      const form = document.getElementById("input-form");
      form?.addEventListener("submit", handleSendMessage);
    });
  </script>
</Layout>
